<!DOCTYPE html>
<html>
<head>
    <title>ADD BAG</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script type="text/javascript" src="add_bag.js" defer></script>
</head>
<body>
    <%- include('./layout/header_admin.ejs') %>

    <div class = "add_bag_page">
        <div class = "judul_add_bag">
            ADD BAG
        </div>

        <div class = "add_bag_form">
            <div class = "add_bag_photo">
                Photo
                <img src="#" alt="Bag Photo" id="preview" >
                <input type="file" class = "blue_button">
                <button class="gray_button">Remove</button>
            </div>

            <div class="form-content">
                
            </div>
        </div>

        <div class = "add_bag_buttons">

        </div>
    </div>
</body>
</html>