<!DOCTYPE html>
<html>
<head>
    <title>ADD BAG</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script type="text/javascript" src="add_bag.js" defer></script>
</head>
<body>
    <div class = "admin_header">
        <div class = "logo_header">
            <a href = "dashboard_admin.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>

        <div class = "navigator_admin">
            <a href="set_review.html">Set Review</a>
            <a href="import_data.html">Import Data</a>
            <a href="see_report.html">See Report</a>
            <a href="pick_add.html">Add Item</a>
            <a href="dashboard_public.html">Main Website</a>
        </div>

        <div class = "admin_log_out"> 
            <button class = "gray_button">Log out</button>
        </div>
        
        <div class = "admin_profile_header">
            <img src = "../images/profile.png" height = 40px width=40px> 
        </div>

        <div class = "admin_username_header">
            admin
        </div>
        
    </div>

    <div class = "add_bag_page">
        <div class = "judul_add_bag">
            ADD BAG
        </div>

        <div class = "add_bag_form">
            <div class = "add_bag_photo">
                Photo
                <img src="#" alt="Bag Photo" id="preview" >
                <input type="file" class = "blue_button">
                <button class="gray_button">Remove</button>
            </div>

            <div class="form-content">
                
            </div>
        </div>

        <div class = "add_bag_buttons">

        </div>
    </div>
</body>
</html>