<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "public_header">
        <div class = "logo_header">
            <a href = "dashboard_public.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>
        
        <div class = "log_out"> 
            <a href = "log_out_public.html">
                <button class = "blue_button">Log out</button>
            </a>  
        </div>
        
        <div class = "profile_header">
            <a href = "profile_public.html"><img src = "../images/profile.png" height = 40px width=40px></a>
        </div>

        <div class = "username_header">
            <a href = "profile_public.html">username</a>
        </div>
    </div>

    <div class = "bag_review_page">

        <div class = "bag_detail_container">

            <div class = "bag_review_photo">
                <img src = "../images/bags/Dakota.png">
            </div>

            <div class = "bag_review_name">
                DAKOTA
            </div>

            <div class = "add_review_button">
                <a href = "add_review.html">
                    <button class = "blue_button">Add Review</button>
                </a>  
            </div>

            <div class = "bag_status">
                123 Review | Nilai: 3,6
            </div>

            <div class = "label_container">
                <div class = "each_label">
                    <div class = "label_title">
                        Category
                    </div>
                    <div class = "label_content">
                        Handbag
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</body>
</html>

