<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "admin_header">
        <div class = "logo_header">
            <a href = "dashboard_admin.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>

        <div class = "navigator_admin">
            <a href="/">Set Review</a>
            <a href="/">Import Data</a>
            <a href="/">See Report</a>
            <a href="/">Add Item</a>
            <a href="/">Main Website</a>
        </div>

        <div class = "admin_log_out"> 
            <button class = "gray_button">Log out</button>
        </div>
        
        <div class = "admin_profile_header">
            <img src = "../images/profile.png" height = 40px width=40px> 
        </div>

        <div class = "admin_username_header">
            admin
        </div>
        
    </div>

    <div class = "dashboard_admin_content">
        <div>Welcome <b>admin</b>,</div>
        <div>what do you want to do today?</div>
    </div>
</body>
</html>
