<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_ADMIN</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_admin.ejs') %>

    <div class = "dashboard_admin_content">
        <div>Welcome <b><%= username %></b>,</div>
        <div>what do you want to do today?</div>
    </div>
</body>
</html>
