<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "follow_page">

        <div class = "follow_page_title">
            Followers   
        </div>

        <div class = "follow_container">

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    andreadevi
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    chiaraa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    reynotrei
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    trunjayy
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    reine_auraa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    meysin_dulaa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    rosyad_shid
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    andrea_miranti
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    jihann
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    vieri_andreww
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    rudi_langko
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    miroslavv
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    kevinchristian
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

