<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "follow_page">

        <div class = "follow_page_title">
            Following
        </div>

        <div class = "follow_container">

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    dianestrii
                </div>
                <div class = "follow_button">
                    <button class = "followed_button">Following</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
