<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "public_header">
        <div class = "logo_header">
            <a href = "dashboard_public.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>
        
        <div class = "log_out"> 
            <button class = "blue_button">Log out</button>
        </div>
        
        <div class = "profile_header">
            <a href = "profile_public.html"><img src = "../images/profile.png" height = 40px width=40px></a>
        </div>

        <div class = "username_header">
            <a href = "profile_public.html">username</a>
        </div>
    </div>

    <div class = "follow_page">

        <div class = "follow_page_title">
            Followers
        </div>

        <div class = "follow_container">

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    andreadevi
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    chiaraa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    reynotrei
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    trunjayy
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    reine_auraa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    meysin_dulaa
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    rosyad_shid
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    andrea_miranti
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    jihann
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    vieri_andreww
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    rudi_langko
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    miroslavv
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

            <div class = "follow_user">
                <div class = "follow_user_photo">
                    <img src = "../images/profile.png" height = 30px width=30px> 
                </div>
                <div class = "follow_username">
                    kevinchristian
                </div>
                <div class = "follow_button">
                    <button class = "not_followed_button">Follow</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

