<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_admin.ejs') %>

    <div class = "navigator_import_data">
        <div class = "pembungkus_import_data">
            <div class = "img_import_data">
                <img src = "/upload_file.png" height = 150px width=150px> 
            </div>

            <label for="file_upload" class="custom-file-upload">
                <span>Upload file</span>
                <input type="file" id="file_upload" name="file_upload">
            </label>
        </div>
        <div class = "import_button_data">
            <a href = "">
                <button class = "blue_button">Import</button>
            </a>   
        </div>
    </div>
</body>
</html>