<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_admin.ejs') %>
    <div class = "navigator_success_confirm">
        <div class = "logo_item_added_confirm">
            <a href = "/item_added_conf"><img src = "/success.png" alt = "slogan_changed_confirm" height=180px></a>
        </div>
        <div class = "item_success">
           Your item is <br>
           successfully added
        </div>
    </div>
</body>
</html>