<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "logo_header">
        <img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px>
   </div>
   
   <div class = "navigator_log_out">
       <div class = "pembungkus_log_out">
           <div class = "tanya_log_out">
               Are you sure you<br>want to log out?
           </div>
           <div class = "button_dua">
               <div class = "cancel_button">
                    <a href = "dashboard_public">
                        <button class = "gray_button">Cancel</button>
                    </a>    
               </div>
               <div class = "log_out_button">
                <a href = "log_out_conf.html">
                    <button class = "blue_button">Log out</button>
                </a>    
           </div>
           </div>
       </div>
   </div>
</body>
</html>