<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class = "navigator_log_out_confirm">
        <div class = "logo_log_out_confirm">
            <img src = "/logo_slogan.png" alt = "slogan_logo_log_out" height=180px>
        </div>
        <div class = "see_you">
            See you later, <span class = "user_log_out"><%= username %></span>!
        </div>
    </div>
</body>
</html>