<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_LOG_IN</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="log_in.js" defer></script>
</head>

<body>
    <div class = "navigator_log_in">

        <img src = "/logo_slogan.png" alt = "slogan_logo">

        <form method = "POST" action = "/log_in_public">
            <div class = "pembungkus_log_in">
                <input type="text" class = "input_username_public" name = "username" placeholder="Username or email" required>
                <input type="password" class = "input_pass_public" name = "password" placeholder="Password" required>
                <button class = "blue_button">Log in</button>
            </div>    
        </form>

        <% if (showAlert) { %>
            <div class = "sign_up_warning">
                *Wrong username and/or password, please try again
            </div>
        <% }%>

          
        
        <div class = "create_account">
            Create an account? <a href="/sign_up_public" class = "sign_up">Sign up</a>
        </div>

        

        
    </div>
</body>
</html>