<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "public_header">
        <div class = "logo_header">
            <a href = "dashboard_public.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>
        
        <div class = "log_out"> 
            <a href = "log_out_public.html">
                <button class = "blue_button">Log out</button>
            </a>  
        </div>
        
        <div class = "profile_header">
            <a href = "profile_public.html"><img src = "../images/profile.png" height = 40px width=40px></a>
        </div>

        <div class = "username_header">
            <a href = "profile_public.html">username</a>
        </div>
    </div>

    <!-- CONTENT HERE -->
    <div class = "navigator_profile">
        <div class = "my_profile">
            username's PROFILE
        </div>
        <div class = "biodata_profile">
            <div class = "pembungkus_deskripsi_profile">
                <div class = "profile_my_profile">
                    <a href = "profile_public.html"><img src = "../images/profile.png" height = 100px width=100px></a>
                </div>
                <div class = "username_my_profile">
                    username
                </div>


                <!-- <div class="pembungkus_followers centered">
                    <div class="jumlah_followers">
                        12
                    </div>
                    <div class="followers_nama">
                        Followers
                    </div>
                </div>
                <div class="pembungkus_following centered">
                    <div class="jumlah_following">
                        5
                    </div>
                    <div class="following_nama">
                        Following
                    </div>
                </div> -->

                <a href = "followers_public.html" class="pembungkus_followers centered">
                    <div class="jumlah_followers">
                        12
                    </div>
                    <div class="followers_nama">
                        Followers
                    </div>
                </a>

                <a href = "following_public.html" class="pembungkus_following centered">
                    <div class="jumlah_following">
                        5
                    </div>
                    <div class="following_nama">
                        Following
                    </div>
                </a>


            </div>

            <div class = "jumlah_reviews_user">
                65 Reviews
            </div>

            <div class = "pembungkus_pertama_myprofile">
                <div class = "pembungkus_kedua_myprofile">
                    <div class="image-alpha" id="top10img1">
                        <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                    </div>
                    <div class="rincian_item">
                        <div class = "nama_tas">ALPHA</div>
                        <div class = "nilai_review">
                            <div class = "judul_nilai">
                                Nilai
                            </div>
                            <div class = "nilai_dari_review">
                                3
                            </div>
                        </div>
                        <div class = "deskripsi_review">
                            Ransel ini desainnya sangat baik dan memiliki banyak kantong
                        </div>
                    </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>

