<!DOCTYPE html>
<html>
<head>
  <title>Top 10 Bags</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<header>
  <div class = "public_header">
    <div class = "logo_header">
        <a href = "dashboard_public.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
    </div>
    
    <div class = "log_out"> 
        <button class = "blue_button">Log out</button>
    </div>
    
    <div class = "profile_header">
        <a href = "profile_public.html"><img src = "../images/profile.png" height = 40px width=40px></a>
    </div>

    <div class = "username_header">
        <a href = "profile_public.html">username</a>
    </div>
</div>
</header>
<body>
  <div class="grid-container">
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Enter your search term">
      <button id="search-button">Search</button>
    </div>   

    <div id="search-results"></div>        

    <h2 style="color: #376CFB; font-size:40px;">THIS IS OUR TOP 10 BAGS</h2>
    
    <div class="filter-sort">
      <span style="color: #4294FF;">Filter by: </span>
      <div class="custom-dropdown">
        <div class="dropdown-label" id="dropdown-label">All</div>
        <ul class="dropdown-options" id="dropdown-options">
          <li data-value="">All</li>
          <li data-value="Handbag">Handbag</li>
          <li data-value="Tote">Tote</li>
          <li data-value="Satchel">Satchel</li>
          <li data-value="Clutch">Clutch</li>
          <li data-value="Backpack">Backpack</li>
        </ul>
      </div>
      
      <span style="color: white;">Sub-Category</span>
          
      <span style="color: #4294FF;">Sort by: </span>

      <button type="button" id="review-nilai" class="sort-button selected" value="review-nilai" style="background-color: #4294FF; color: white;" onclick="toggleSortButton(this)">Nilai Review</button>
      <button type="button" id="review-banyak" class="sort-button" value="review-banyak" style="background-color: #737373; color: white;" onclick="toggleSortButton(this)">Banyak Review</button>
      
      <button type="submit" value="Submit" id="submit-button">Submit</button>
    </div>

    <div class="blue-box">
      <div class="container">
        <div class="item-container">
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>1</h1>
              </div>
              <div class="item-image" id="top10img1">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>          
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>2</h1>
              </div>
              <div class="item-image" id="top10img2">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>3</h1>
              </div>
              <div class="item-image" id="top10img3">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>4</h1>
              </div>
              <div class="item-image" id="top10img4">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>5</h1>
              </div>
              <div class="item-image" id="top10img5">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>6</h1>
              </div>
              <div class="item-image" id="top10img6">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>7</h1>
              </div>
              <div class="item-image" id="top10img7">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>8</h1>
              </div>
              <div class="item-image" id="top10img8">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1>9</h1>
              </div>
              <div class="item-image" id="top10img9">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="item-content">
              <div class="item-ranking">
                <h1 style="font-size: 16px;">10</h1>
              </div>
              <div class="item-image" id="top10img10">
                <img src="path_to_image.jpg" alt="Bag Image">
              </div>
              <div class="item-details">
                <h3>Name of the Bag</h3>
                <p>(Number of reviews)</p>
                <p>(Review Score)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  // MALES BUAT FILE JS BARU
  // KODE JS UNTUK BARIS SEARCH BAR
    //KODE UNTUK SEARCH BAR?
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    const searchResultsDiv = document.getElementById("search-results");

    searchButton.addEventListener("click", function() {
      const searchTerm = searchInput.value.trim();
      if (searchTerm !== "") {
        // Clear previous search results
        searchResultsDiv.innerHTML = "";

        // Create heading element
        const heading = document.createElement("h2");
        heading.textContent = "Search Results";
        searchResultsDiv.appendChild(heading);+

        // Create blue box element
        const blueBox = document.createElement("div");
        blueBox.classList.add("container");
        blueBox.textContent = "No content found.";
        searchResultsDiv.appendChild(blueBox);
      }
    });

    searchInput.addEventListener("input", function() {
      const searchTerm = searchInput.value.trim();
      if (searchTerm === "") {
        // Clear search results
        searchResultsDiv.innerHTML = "";
      }
    });

    let isInputFocused = false;

    searchInput.addEventListener('mouseover', () => {
      if (!isInputFocused && searchInput.value.trim() === '') {
        searchInput.style.backgroundColor = '#D0DBF7';
      }
    });

    searchInput.addEventListener('mouseout', () => {
      if (!isInputFocused && searchInput.value.trim() === '') {
        searchInput.style.backgroundColor = 'white';
      }
    });

    searchInput.addEventListener('focus', () => {
      isInputFocused = true;
    });

    searchInput.addEventListener('blur', () => {
      isInputFocused = false;
      if (searchInput.value.trim() === '') {
        searchInput.style.backgroundColor = 'white';
      }
    });

    //KODE UNTUK SEARCH BUTTON
    let searchButtonClicked = false;
    let searchButtonTimeout;

    searchButton.addEventListener('mouseover', () => {
      if (!searchButtonClicked) {
        searchButton.style.backgroundColor = '#2969C7';
      }
    });

    searchButton.addEventListener('mouseout', () => {
      if (!searchButtonClicked) {
        searchButton.style.backgroundColor = '#376CFB';
      }
    });

    searchButton.addEventListener('click', () => {
      searchButton.style.backgroundColor = '#1F3D7A';
      searchButtonClicked = true;
      clearTimeout(searchButtonTimeout);
      searchButtonTimeout = setTimeout(() => {
        searchButton.style.backgroundColor = '#376CFB';
        searchButtonClicked = false;
      }, 2000);
    });

  //KODE JS UNTUK BARIS FILTER
    //KODE UNTUK SORTBY
    const sortButtons = document.querySelectorAll('.sort-button');

    sortButtons.forEach(button => {
      button.addEventListener('mouseover', () => {
        if (!button.classList.contains('selected')) {
          button.style.backgroundColor = '#E0E0E0';
        }
      });

      button.addEventListener('mouseout', () => {
        if (!button.classList.contains('selected')) {
          button.style.backgroundColor = '#737373';
        }
      });
    });

    function toggleSortButton(button) {
      const buttons = document.getElementsByClassName('sort-button');
      for (let i = 0; i < buttons.length; i++) {
        if (buttons[i] === button) {
          buttons[i].classList.add('selected');
          buttons[i].style.backgroundColor = '#4294FF';
        } else {
          buttons[i].classList.remove('selected');
          buttons[i].style.backgroundColor = '#737373';
        }
      }
    }

    //KODE UNTUK CUSTOMIZE DROP DOWN
    const dropdownLabel = document.getElementById('dropdown-label');
    const dropdownOptions = document.getElementById('dropdown-options');
    const dropdownItems = dropdownOptions.getElementsByTagName('li');
    let previousSelectedValue = '';

    dropdownLabel.addEventListener('click', () => {
      dropdownOptions.classList.toggle('show-dropdown-options');
    });

    dropdownLabel.addEventListener('mouseover', () => {
      dropdownLabel.style.backgroundColor = '#C3DCF2';
    });

    dropdownLabel.addEventListener('mouseout', () => {
      dropdownLabel.style.backgroundColor = '#4294FF';
    });

    document.addEventListener('click', (event) => {
      const isClickedInsideDropdown = dropdownLabel.contains(event.target) || dropdownOptions.contains(event.target);
      if (!isClickedInsideDropdown) {
        dropdownOptions.classList.remove('show-dropdown-options');
        dropdownLabel.textContent = previousSelectedValue ? previousSelectedValue : 'All';
      }
    });

    for (let i = 0; i < dropdownItems.length; i++) {
      dropdownItems[i].addEventListener('click', () => {
        const selectedValue = dropdownItems[i].dataset.value;
        dropdownLabel.textContent = dropdownItems[i].textContent;
        dropdownOptions.classList.remove('show-dropdown-options');
        previousSelectedValue = selectedValue;
        console.log('Selected value:', selectedValue);
      });

      dropdownItems[i].addEventListener('mouseover', () => {
        dropdownItems[i].style.backgroundColor = '#C3DCF2';
      });

      dropdownItems[i].addEventListener('mouseout', () => {
        dropdownItems[i].style.backgroundColor = '#FFF';
      });
    }

    //KODE UNTUK SUBMIT
    const submitButton = document.getElementById('submit-button');

    submitButton.addEventListener('click', () => {
      submitButton.style.backgroundColor = '#E0E0E0';
      submitButton.style.color = '#737373';
      isClicked = true;
      setTimeout(() => {
        submitButton.style.backgroundColor = '#FFF';
        submitButton.style.color = '#737373';
        isClicked = false;
      }, 2000);
    });

    submitButton.addEventListener('mouseover', () => {
      if (!isClicked) {
        submitButton.style.backgroundColor = '#F5F5F5';
        submitButton.style.color = '#737373';
      }
    });

    submitButton.addEventListener('mouseout', () => {
      if (!isClicked) {
        submitButton.style.backgroundColor = '#FFF';
        submitButton.style.color = '#737373';
      }
    });

  </script>
</body>
</html>