<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "review_added_conf_page">
        <div class = "logo_changed_confirm">
            <img src = "/success.png" alt = "slogan_changed_confirm" height=180px>
        </div>
        <div class = "review_success">
           Your review is<br>successfully added
        </div>
        <br>
        <a href = "/dashboard_public" class = "gray_button">Back to Dashboard</a>
    </div>
</body>
</html>