<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="/dashboard.js" defer></script>
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class="grid-container">

        <div class="search-bar">
          <input type="text" id="search-input" placeholder="Search bag's name/category/sub-category or by username">
          <button id="search-button">Search</button>
        </div> 
          
        
</body>
</html>

