<!DOCTYPE html>
<html>

<head>
    <title>BAGBOOK</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script type="text/javascript" src="set_review.js" defer></script>
</head>

<body>
    <%- include('./layout/header_admin.ejs') %>


        <div class="navigator_set_review">



            <form action="/set_min_review" method="POST">
                <div class = "cont_min_review">
                    <label for="minimalReview">Masukan jumlah minimal review untuk diolah:</label>
                    <input type="text" id="jumlah_minimal" name="minimalReview">
                </div>
                



                <div class="set_button_review">
                    <button id="additional_save_button" class="blue_button">Set Minimal Review</button>
                </div>

            </form>

            <br>


            <form action="/set_range_review" method="POST">
                <div class = "cont_range_review">
                    <div class="rentang_nilai_review">Masukan rentang nilai review:</div>


                    <div class="rentang_nilai">
                        <input type="radio" id="nilai_1_5" name="rentangNilai" value="1-5">
                        <label for="nilai_1_5" id="label_1-5">1-5</label>
                        <input type="radio" id="nilai_1_10" name="rentangNilai" value="1-10">
                        <label for="nilai_1_10">1-10</label>
                    </div>
                </div>
                

                <div class="arti_nilai">
                    Masukan arti dari tiap nilai review:
                </div>


                <div class="grid_set_review_2">
                    <div class="grid_set_review_2_1">
                        <label for="artiNilai">1:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">2:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">3:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">4:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">5:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                    </div>
                    <div class="grid_set_review_2_2">
                        <label for="artiNilai">6:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">7:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">8:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">9:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                        <label for="artiNilai">10:</label>
                        <input type="text" id="arti_setiap_nilai" name="artiNilai">
                    </div>
                </div>


                <div class="set_button_review">
                        <button class="blue_button" disabled>Save</button>
                </div>

            </form>
        </div>
        
</body>

</html>