<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <form action = "verify_email.html">
        <div class = "sign_up_public">

            <div class = "grid_kiri">
                <img class = "logo" src = "../images/logo_header.png" alt = "bagbook_logo" height=150px>

                <div class = "personal_data">
                    PERSONAL DATA
                </div>
                <label for="full_name" class = "full_name_label">Full Name</label>
                <input type="text" name="full_name" id="full_name" class = "input_full_name" placeholder="Enter your full name" required>
    
                <label for="email_address" class= "email_label">Email Address</label>
                <input type="email" name="email_address" id="email_address" class = "input_email" placeholder="Enter your email address" required>
    
            </div>
    
            <div class = "grid_kanan">
    
                <div class = "judul_create">
                    CREATE YOUR ACCOUNT
                </div>
    
                <div class = "sign_up_box">
    
                    <label for="username_sign_up" class = "username_label">Username</label>
                    <input type="text" name="username_sign_up" id="username_sign_up" class = "input_username_signup" placeholder="Enter your username" required>
    
                    <label for="password_sign_up" class = "pass_label">Password</label>
                    <input type="password" name="password_sign_up" id="password_sign_up" class = "input_pass_signup" placeholder="Enter your password" required>
    
                    <label for="confirm_password" class = "confirm_pass_label">Confirm Password</label>
                    <input type="password" name="confirm_password"  id="confirm_password" class = "input_confirm_pass" placeholder="Confirm your password" required>
    
                    <div class = "sign_up_button">
                        <button class = "blue_button">Sign up</button>
                    </div>
    
                    <div class="login_link">
                        Already have an account? <a href="log_in_public.html">Log in</a>
                    </div>
                </div>
            </div>
    
        </div>
    </form>
</body>
</html>