<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>

<body>
    <div class = "public_header">
        <div class = "logo_header">
            <a href = "dashboard_public.html"><img src = "../images/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>
        
        <div class = "log_out"> 
            <a href = "log_out_public.html">
                <button class = "blue_button">Log out</button>
            </a>  
        </div>
        
        <div class = "profile_header">
            <a href = "profile_public.html"><img src = "../images/profile.png" height = 40px width=40px></a>
        </div>

        <div class = "username_header">
            <a href = "profile_public.html">username</a>
        </div>
    </div>

    <!-- CONTENT HERE -->
</body>
</html>

