<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class = "logo_header">
        <img src = "/logo_header.png" alt = "bagbook_logo" height=100px>
    </div>

    <div class = "navigator_confirmation">

        <div class = "logo_verify">
            <img src = "/verify.png" alt = "verify_logo" height=120px>
        </div>

        <div class="email"><%= email %></div>

        <div class="success">have been successfully verified!</div>

        <div class = "goto_login"> 
            <a href = "/"><button class = "blue_button">Go to Log in</button></a>
        </div>

    </div>
</body>
</html>