/* ----------------------------------------------- FONT ------------------------------------------------------*/
@font-face {
    font-family: Black;
    src: url("font/Inter-Black.ttf");
}

@font-face {
    font-family: Bold;
    src: url("font/Inter-Bold.ttf");
}

@font-face {
    font-family: ExtraBold;
    src: url("font/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: ExtraLight;
    src: url("font/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: Light;
    src: url("font/Inter-Light.ttf");
}

@font-face {
    font-family: Medium;
    src: url("font/Inter-Medium.ttf");
}

@font-face {
    font-family: Regular;
    src: url("font/Inter-Regular.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("font/Inter-SemiBold.ttf");
}

@font-face {
    font-family: Thin;
    src: url("font/Inter-Thin.ttf");
}



/* ----------------------------------------------- ALL PAGE -----------------------------------------------*/
html,
body {
    background-color: #d4e9f8;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Regular;
}

.blue_button {
    background-color: #376CFB;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.blue_button:hover {
    background-color: #225EFF;
    color: white;
}

.gray_button {
    background-color: #737373;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.gray_button:hover {
    background-color: #4294FF;
    color: white;
}

::placeholder {
    opacity: 0.5;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

img{
    border-radius: 20px;
}


/* -------------------------------------------- PUBLIC HEADER --------------------------------------------*/
.public_header {
    height: 100px;
    display: flex;
    align-items: center;
    font-family: Bold;
    color: #737373;
    gap: 10px;

}

.log_out {
    margin-left: auto;
}

.profile_header {
    margin-left: 10px;
}

.username_header {
    margin-right: 25px;
}

.username_header a {
    text-decoration: none;
    color: #737373;
}

/* -------------------------------------------- ADMIN HEADER --------------------------------------------*/
.admin_header {
    height: 100px;
    display: flex;
    align-items: center;
    font-family: Bold;
    color: #737373;
    gap: 10px;
}

.navigator_admin {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 25px;
}

.navigator_admin a {
    color: #376CFB;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.navigator_admin a:hover {
    color: #4294FF;
}

.admin_profile_header {
    margin-left: 10px;
}

.admin_username_header {
    margin-right: 25px;
}

.admin_log_out {
    padding-right: 15px;
}

/* -------------------------------------------- ADMIN DASHBOARD --------------------------------------------*/
.dashboard_admin_content {
    font-size: 35px;
    color: #737373;
    font-family: Light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

/* -------------------------------------------- PUBLIC VERIFY EMAIL --------------------------------------------*/

.navigator_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.judul_verify_email {
    font-family: Bold;
    font-size: 20px;
    color: #737373;
}

.verify_email_desc {
    color: #737373;
    font-family: SemiBold;
    padding-bottom: 10px;
}

.email {
    color: #376CFB;
}

.resend {
    padding-top: 15px;
}

.resend_code {
    color: #737373;
    font-family: SemiBold;
}

.change_email {
    color: #376CFB;
    font-family: SemiBold;
}

.confirm_button {
    padding-top: 20px;
}

.input_code {
    background-color: #B9C8EA;
    color: #737373;
    border: none;
    font-size: 30px;
    font-family: Bold;
    width: 200px;
    height: 30px;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
}

/* -------------------------------------------- PUBLIC VERIFY CONF --------------------------------------------*/

.navigator_confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.logo_verify {
    margin-bottom: 20px;
}

.navigator_confirmation .email {
    font-family: SemiBold;
    font-size: 24px;
}

.navigator_confirmation .success {
    color: #737373;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: SemiBold;
}

/* -------------------------------------------- PUBLIC LOG IN --------------------------------------------*/

.navigator_log_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}


.pembungkus_log_in {
    background-color: #4294FF;
    display: grid;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
}

.input_username_public {
    background-color: #376CFB;
    grid-row: 1;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding: 8px;
    border-radius: 15px;
}

.input_pass_public {
    background-color: #376CFB;
    grid-row: 2;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding: 8px;
    border-radius: 15px;
}

.user::placeholder,
.pw::placeholder {
    font-family: Semibold;
}

.pembungkus_log_in .blue_button {
    grid-row: 3;
    justify-self: center;
}

.create_account {
    color: #737373;
    font-family: SemiBold;

}

/* -------------------------------------------- PUBLIC SIGN UP --------------------------------------------*/

.sign_up_public {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid_kiri {
    display: grid;
    align-self: start;
}

.grid_kiri .logo {
    padding-bottom: 50px;
    padding-top: 40px;
    grid-row: 1;
}

.personal_data {
    grid-row: 2;
    font-family: Bold;
    font-size: 25px;
    color: #737373;
    padding-bottom: 25px;
}

.full_name_label {
    grid-row: 3;
    font-family: Regular;
    color: #737373;
    padding-bottom: 10px;
}

.input_full_name {
    background-color: #4294FF;
    grid-row: 4;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
}

.email_label {
    grid-row: 5;
    font-family: Regular;
    color: #737373;
    padding-bottom: 10px;
    padding-top: 10px;
}

.input_email {
    background-color: #4294FF;
    grid-row: 6;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding: 8px;
    border-radius: 15px;
}

.sign_up_warning {
    color: red;
    font-size: 13px;
}

.grid_kanan {
    display: grid;
    align-self: start;
}

.judul_create {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 90px;
    grid-row: 1;
    font-family: Bold;
    font-size: 45px;
    color: #737373;
}

.sign_up_box {
    display: grid;
    background-color: #B9C8EA;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    justify-self: center;
    gap: 5px;
}

.username_label,
.pass_label,
.confirm_pass_label {
    color: #376CFB;
    font-family: SemiBold;
}

.input_username_signup,
.input_pass_signup,
.input_confirm_pass {
    background-color: #D0DBF4;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 285px;
    height: 20px;
    padding: 8px;
    border-radius: 15px;
}

.input_username_signup::placeholder,
.input_pass_signup::placeholder,
.input_confirm_pass::placeholder {
    color: #376CFB;
}

.sign_up_button {
    padding-top: 10px;
    justify-self: center;
}

.login_link {
    justify-self: center;
    font-family: SemiBold;
    font-size: 15px;
    color: #737373
}

.invalid {
    background-color: red;
}

.valid {
    background-color: green;
}

.input_full_name:valid {
    background-color: green;
}

#submit_warning {
    justify-self: center;
}


/* -------------------------------------------- PUBLIC FOLLOWERS & FOLLOWING --------------------------------------------*/

.follow_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 80%;
    width: 100%;
}

.follow_page_title {
    font-family: Bold;
    color: #737373;
    font-size: 30px;
}

.follow_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #D0DBF7;
    padding: 10px;
    width: 450px;
    border-radius: 15px;
    gap: 10px;
    overflow: auto;
    height: 410px;
}

.follow_user {
    display: flex;
    align-items: center;
    background-color: #B9C8EA;
    width: 100%;
    height: 50px;
    border-radius: 12px;
}

.follow_user_photo {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.follow_username {
    margin-right: 10px;
    color: #737373;
    font-family: Bold;
}

.follow_button {
    margin-left: auto;
    margin-right: 10px;
}

.not_followed_button {
    background-color: white;
    color: #737373;
    font-family: Bold;
    border: none;
    padding: 7px 25px;
    border-radius: 15px;
    width: 110px;
}

.followed_button {
    background-color: #D0DBF7;
    color: #737373;
    font-family: Bold;
    border: none;
    padding: 7px 25px;
    border-radius: 15px;
    width: 110px;
}

/* -------------------------------------------- ADD ITEM_ADMIN --------------------------------------------*/
.pick_add_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 80%;
    width: 100%;
}

.judul_add {
    font-family: Bold;
    color: #737373;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.pick_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.pick_menu_row1 {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    gap: 70px;
}

.pick_menu_row2 {
    display: grid;
    grid-template-columns: 125px 125px;
    gap: 70px;
}

.pick_option {
    display: grid;
    justify-content: center;
    width: 150px;
}

.pick_name {
    font-family: Bold;
    color: #4294FF;
    font-size: 20px;
}

/* -------------------------------------------- PUBLIC_DASHBOARD --------------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    justify-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

#search-input {
    height: 25px;
    width: 960px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px 0px 0px 20px;
    color: #376CFB;
    font-size: 15px;
    font-family: SemiBold;
}

#search-input::placeholder {
    color: #376CFB;
    opacity: 0.5;
    font-size: 15px;
    font-family: SemiBold;
}

#search-button {
    height: 45px;
    width: 80px;
    padding: 10px;
    color: white;
    background-color: #376CFB;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline: none;
    font-family: Bold;
    font-size: 15px;
}

.judul_top10 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Bold;
    font-size: 40px;
    color: #376CFB;
}

.judul_search {
    padding-top: 25px;
    font-family: Bold;
    font-size: 40px;
    color: #376CFB;
}

.filter_text {
    color: #4294FF;
    font-family: Bold;
}

.sort-button.selected {
    background-color: #376CFB;
}

#search-results {
    text-align: center;
    margin-bottom: 20px;
}

.filter-label,
.sort-label {
    color: #4294FF;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4294FF;
    color: #fff;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-options li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.dropdown-options li:hover {
    background-color: #e6e6e6;
    border-radius: 20px;
}

.dropdown-options li[data-value=""] {
    font-weight: bold;
}

.show-dropdown-options {
    display: block;
}

.sort-option {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #737373;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.sort-option.active {
    background-color: #4294FF;
}

.sort-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

#submit-button {
    background-color: #FFF;
    color: #737373;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-family: Bold;
}

#submit-button.clicked {
    background-color: #c0c0c0;
}

#review-nilai {
    background-color: #4294FF;
    color: #fff;
}

#review-banyak {
    background-color: transparent;
    color: #737373;
}

.selected {
    background-color: #737373;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #D0DBF7;
    width: 1040px;
    height: 540px;
    overflow-y: scroll;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: 50px 150px auto;
    background-color: #B9C8EA;
    border-radius: 20px;
    width: 450px;
    height: 150px;
    padding: 15px;
    gap: 10px;
}

.item-image img {
    width: 150px;
    height: 150px;
}

.item-ranking {
    font-family: Black;
    font-size: 50px;
    color: #737373;
    justify-self: center;
    align-self: center;
}

.item-details {
    display: grid;
    grid-template-rows: 80px auto;
    padding: 5px;
}

.bag_name {
    font-family: Bold;
    align-self: center;
    font-size: 35px;
    color: #737373;
}

.bag_review_desc {
    color: #376CFB;
    font-family: Bold;
    font-size: 20px;
}

/* -------------------------------------------- LOG_OUT --------------------------------------------*/
.navigator_log_out {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.pembungkus_log_out {
    background-color: white;
    width: 380px;
    padding: 15px 10px 5px 10px;
    border-radius: 20px;
    height: 250px;
    display: grid;
}

.tanya_log_out {
    font-size: 28px;
    color: #737373;
    font-family: Bold;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    height: 45px;
}

.button_dua {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.cancel_button {
    grid-column: 1;
}

.log_out_button {
    grid-column: 2;
}

/* -------------------------------------------- LOG_OUT_CONF --------------------------------------------*/

.navigator_log_out_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    width: 100%;
}

.see_you {
    font-family: Medium;
    color: #737373;
    font-size: 25px;
}

.user_log_out {
    font-family: Bold;
    color: #737373;
}

/* -------------------------------------------- CHANGED_CONF --------------------------------------------*/

.navigator_success_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    width: 100%;
}

.changed_success {
    font-size: 25px;
    font-family: Bold;
    color: #737373;
}

/* -------------------------------------------- ITEM_ADDED_CONF --------------------------------------------*/

.item_success {
    font-size: 25px;
    font-family: Bold;
    color: #737373;
}

/* -------------------------------------------- BAG_REVIEW & ADD_REVIEW --------------------------------------------*/
.bag_review_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bag_detail_container {
    background-color: #D0DBF7;
    border-radius: 15px;
    width: 1050px;
    padding: 15px;
    display: grid;
    gap: 10px;
    align-content: center;
    justify-content: center;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 40px 25px;
    grid-template-areas:
        "photo bag_review_name add_review_button"
        "photo bag_status bag_status"
        "photo category_label color_label"
        "photo sub_category_label length_label"
        "photo brand_label width_label"
        "photo designer_label height_label"
}

.bag_review_photo {
    width: 251px;
    height: 230px;
    grid-area: photo;
    justify-self: center;
    padding-right: 15px;
}

.bag_review_name {
    color: #737373;
    font-family: Bold;
    font-size: 40px;
    grid-area: bag_review_name;
}

.add_review_button {
    justify-self: end;
    grid-area: add_review_button;
}

.bag_status {
    color: #376CFB;
    font-family: Bold;
    grid-area: bag_status;
}

.category_label,
.color_label,
.sub_category_label,
.brand_label,
.designer_label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.length_label,
.width_label,
.height_label {
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.3fr;
    align-items: center;
    justify-content: center;
}

.category_label {
    grid-area: category_label;
}

.color_label {
    grid-area: color_label;
}

.sub_category_label {
    grid-area: sub_category_label;
}

.brand_label {
    grid-area: brand_label;
}

.designer_label {
    grid-area: designer_label;
}

.length_label {
    grid-area: length_label;
}

.width_label {
    grid-area: width_label;
}

.height_label {
    grid-area: height_label;
}

.label_title {
    background-color: #4294FF;
    color: white;
    font-family: Bold;
    border-radius: 20px 0px 0px 20px;
    padding: 7px 7px 7px 13px;
}

.label_content {
    background-color: white;
    color: #737373;
    font-family: Bold;
    border-radius: 0px 20px 20px 0px;
    padding: 7px 13px 7px 7px;
}

.label_content_cm {
    background-color: white;
    color: #737373;
    font-family: Bold;
    padding: 7px 13px 7px 7px;
}

.label_cm {
    background-color: white;
    color: #737373;
    font-family: Bold;
    border-radius: 0px 20px 20px 0px;
    padding: 7px 13px 7px 7px;
    text-align: right;
}

.bag_review_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1050px;
    height: 245px;
    background-color: #D0DBF7;
    padding: 15px;
    gap: 10px;
    border-radius: 15px;
    margin-top: 10px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.single_review {
    display: grid;
    grid-template-areas:
        "user nilai"
        "review review";
    background-color: #B9C8EA;
    border-radius: 15px;
    height: 100px;
    padding: 10px;
    grid-template-rows: 30px auto;
    gap: 10px;
    justify-content: center;

}

.review_user_profile {
    grid-area: user;
    font-family: Bold;
    color: #737373;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;

}

.review_user_nilai {
    grid-area: nilai;
    height: 30px;
    grid-template-columns: 0.15fr 0.15fr;
    color: white;
    background-color: #4294FF;
    width: 50px;
    padding: 3px 5px 3px 5px;
    border-radius: 15px;
    display: grid;
    height: 15px;
    align-items: center;
    justify-self: end;
    margin-top: 5px;
}

.review_user_nilai_label {
    font-size: 12px;
}

.review_user_nilai_angka {
    padding-left: 15px;
    font-size: 12px;
    font-family: Bold;
}

.review_user_teks {
    grid-area: review;
    color: #737373;
    font-size: 10px;
    justify-self: start;
}

.add_review_container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "rev_profile nilai_rev"
        "teks_rev teks_rev"
        "review_button review_button";
    background-color: #D0DBF7;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
    width: 1040px;
    /* height: 245px; */
    gap: 15px;
    padding: 20px;
}

.reviewer_profile {
    grid-area: rev_profile;
    color: #737373;
    font-family: Bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nilai_review_input {
    grid-area: nilai_rev;
    justify-self: right;
    color: #737373;
    font-size: 17px;
    align-self: center;
    font-family: Bold;
    display: flex;
    gap: 10px;
}

.teks_review_input {
    grid-area: teks_rev;
    justify-self: center;
}

.teks_review_input textarea {
    border-radius: 20px;
    width: 1010px;
    height: 150px;
    border-style: none;
    padding: 15px;
    text-align: start;
    resize: none;
    font-size: 20px;
    font-family: Regular;
}

.teks_review_input textarea::placeholder {
    color: #737373;
    font-family: Bold;
}

.submit_review_button {
    grid-area: review_button;
    justify-self: center;
}

.submit_review_button .gray_button {
    margin-right: 10px;
}

/* -------------------------------------------- PROFILE_PUBLIC --------------------------------------------*/

.navigator_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.pembungkus_deskripsi_profile {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.5fr 0.5fr;
    gap: 5px;
    margin-bottom: 20px;
}

.my_profile {
    font-family: Bold;
    color: #737373;
    font-size: 40px;
    margin-bottom: 20px;
}

.username_my_profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: Bold;
    color: #376CFB;
    font-size: 30px;
    gap: 5px;

}


.pembungkus_followers {
    grid-template-rows: 0.8fr 0.4fr;
    background-color: #D0DBF7;
    border-radius: 15px;
}

.pembungkus_following {
    grid-template-rows: 0.8fr 0.4fr;
    background-color: #D0DBF7;
    border-radius: 15px;
}

.jumlah_followers,
.jumlah_following {
    font-family: Bold;
    color: #376CFB;
    font-size: 35px;
}

.followers_nama,
.following_nama {
    font-family: Black;
    color: #4294FF;
    font-size: 18px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumlah_reviews_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Bold;
    color: #4294FF;
    font-size: 35px;
    margin-bottom: 20px;
}

.pembungkus_pertama_myprofile {
    background-color: #D0DBF7;
    width: 800px;
    height: 440px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
}


.pembungkus_kedua_myprofile {
    display: grid;
    background-color: #B9C8EA;
    grid-template-columns: 0.4fr 0.8fr;
    padding: 10px;
    border-radius: 20px;
    width: 365px;
    height: 120px;
}

.nilai_review {
    display: grid;
    grid-template-columns: 0.15fr 0.15fr;
    color: white;
    background-color: #4294FF;
    width: 50px;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;

}

.rincian_item {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr auto;
    padding: 8px;
    gap: 5px;
}

.judul_nilai {
    font-size: 12px;
}

.nilai_dari_review {
    padding-left: 15px;
    font-size: 12px;
    font-family: Bold;
}

.nama_tas {
    color: #737373;
    font-family: Bold;
}

.deskripsi_review {
    font-family: Medium;
    color: #737373;
    font-size: 12px;
}

.profile_my_profile{
    margin-right: 10px;
}


/* -------------------------------------------- REVIEW_ADDED_CONF --------------------------------------------*/
.review_added_conf_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    width: 100%;
}

.review_success {
    font-size: 30px;
    font-family: Bold;
    color: #737373;
}

/* -------------------------------------------- IMPORT_DATA --------------------------------------------*/

.navigator_import_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.pembungkus_import_data {
    background-color: #D0DBF7;
    width: 440px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 15px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload span {
    display: inline-block;
    background-color: #4294FF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: SemiBold;
    font-size: 16px;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.custom-file-upload span:hover {
    background-color: #A9C0F5;
}

.import_button_data {
    padding-top: 30px;
}

/* -------------------------------------------- ADD_BRAND --------------------------------------------*/

.navigator_add_brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.judul_add_brand {
    color: #737373;
    font-family: Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.grid_brand {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    height: 30px;
    width: 500px;
    color: #737373;
    font-family: Bold;
    padding: 20px 10px 70px 10px;
}

#label_brand {
    grid-column: 1;
    background-color: #D0DBF7;
    padding: 10px 10px 10px 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20px;
}

#input_brand {
    grid-column: 2;
    padding: 10px 10px 10px 15px;
    border: none;
    color: #737373;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: SemiBold;
    font-size: 16px;
}


.button_add_brand {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* -------------------------------------------- ADD_CATEGORY --------------------------------------------*/

.navigator_add_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.judul_add_category {
    color: #737373;
    font-family: Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.grid_category {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    height: 30px;
    width: 500px;
    color: #737373;
    font-family: Bold;
    padding: 20px 10px 70px 10px;
}

#label_category {
    grid-column: 1;
    background-color: #D0DBF7;
    padding: 10px 10px 10px 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20px;
}

#input_category {
    grid-column: 2;
    padding: 10px 10px 10px 15px;
    border: none;
    color: #737373;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: SemiBold;
    font-size: 16px;
}


.button_add_category {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* -------------------------------------------- ADD_DESIGNER --------------------------------------------*/

.navigator_add_designer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.judul_add_designer {
    color: #737373;
    font-family: Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.grid_designer {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    height: 30px;
    width: 500px;
    color: #737373;
    font-family: Bold;
    padding: 20px 10px 70px 10px;
}

#label_designer {
    grid-column: 1;
    background-color: #D0DBF7;
    padding: 10px 10px 10px 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20px;
}

#input_designer {
    grid-column: 2;
    padding: 10px 10px 10px 15px;
    border: none;
    color: #737373;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: SemiBold;
    font-size: 16px;
}


.button_add_designer {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* -------------------------------------------- ADD_SUB_CATEGORY --------------------------------------------*/

.navigator_add_sub_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.judul_add_sub_category {
    color: #737373;
    font-family: Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.grid_sub_category {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    height: 30px;
    width: 500px;
    color: #737373;
    font-family: Bold;
    padding: 20px 10px 100px 10px;
    row-gap: 15px;
}

#label_sub_category,
#label_category_sub {
    grid-column: 1;
    background-color: #D0DBF7;
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20px;
}

#input_sub_category,
#input_category_sub {
    grid-column: 2;
    padding: 10px 10px 10px 15px;
    border: none;
    color: #737373;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: SemiBold;
    font-size: 16px;
}

.button_add_sub_category {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* -------------------------------------------- ADD_BAG --------------------------------------------*/

.add-bag-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-title {
    padding-bottom: 25px;
    color: #737373;
    font-family: Bold;
    font-size: 40px;
}

.addbag-blue-box {
    width: 600px;
    background-color: #B9C8EA;
    border-radius: 20px;
    padding: 20px;
}

.addbag-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-section {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.addbag-form-content {
    flex-grow: 1;
}

.addbag-form-row {
    display: flex;
    align-items: center;
}

.addbag-form-content label {
    width: 125px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    font-family: Bold;
    color: #737373;
    background-color: #D0DBF7;
    padding: 5px;
    height: 20px;
}

.add-bag-page input[type="text"],
.add-bag-page select {
    background-color: white;
    height: 30px;
}

.photo-label {
    align-self: center;
    color: #737373;
    font-family: Bold;
    font-size: 25px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

img#preview {
    width: 150px;
    height: 150px;
    object-fit: cover;

    margin-bottom: 10px;
}

.photo-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.upload-button,
.remove-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #B9C8EA;
    font-family: Bold;
    font-size: 12px;
    border-radius: 10px;
}

.upload-button {
    background-color: #4294FF;
}

.remove-button {
    background-color: #FF4242;
}

.upload-button:hover {
    background-color: #ccc;
}

#img-row:first-of-type {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}



.dimensions-input input[type="text"] {
    width: 75px;
    border-radius: 20px;

}

.bag-dimensions-label {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}

.button_add_bag {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 80px;
}

.addbag-form-row:not(#img-row) {
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    text-indent: 10px;
}

.add-bag-page input[type="text"]:not(#bag-dimension),
.add-bag-page select {
    flex-grow: 1;
    border: none;
    outline: none;
    font-family: SemiBold;
    color: #737373;
}

option {
    border: 20px;
}

#preview {
    background-color: #E5EBFF;
    border-radius: 20px;
}

/* -------------------------------------------- SEE_REPORT --------------------------------------------*/
.container_see_report {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.filter-bar_see_report {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
}

.dropdown_category_report,
.dropdown_subcategory_report,
.dropdown_brand_report,
.dropdown_designer_report {
    background-color: #737373;
    font-family: SemiBold;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 3px;
    width: 120px;
}

.filter_by_report {
    font-family: Bold;
    color: #4294FF;
}

.blue_button.submit_report {
    height: 28px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.grid-container_see_report {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 700px;
    font-family: Bold;
    gap: 10px;
    padding-bottom: 20px;
}

.grid-row_see_report_1 {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 10px;
    font-size: 18px;
}

.grid-row_see_report_2 {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    font-family: Black;
    text-align: center;
    gap: 10px;
    font-size: 14px;
}

.grid-row_see_report_3 {
    grid-row: 3;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    font-family: Black;
    text-align: center;
    gap: 10px;
    font-size: 14px;
}

.grid-item_report_1 {
    color: #4294FF;
    font-family: Black;
    background-color: #B9C8EA;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-rows: 1.5fr 1.2fr;
    align-items: center;
    justify-content: center;
}

.grid-item_report_2 {
    background-color: #4294FF;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-item_report_2_5 {
    grid-row: 2/4;
}

.grid-item_report_3 {
    background-color: #376CFB;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-item_report_3_5 {
    grid-row: 2/4;
}

.grid-item_report_1_2,
.grid-item_report_1_4,
.grid-item_report_1_6,
.grid-item_report_1_8,
.grid-item_report_1_10 {

    color: #FFFFFF;
    font-family: Bold;
    font-size: 35px;
}

.grid-row_see_report_2,
.grid-row_see_report_3 {
    color: #FFFFFF;
}

.grid-item_report_2_2,
.grid-item_report_2_7,
.grid-item_report_3_2,
.grid-item_report_3_7 {
    color: #D0DBF7;
    font-family: Bold;
    font-size: 28px;
}

.grid-item_report_2_3,
.grid-item_report_2_5,
.grid-item_report_2_8,
.grid-item_report_3_3,
.grid-item_report_3_5,
.grid-item_report_3_8 {
    font-family: Bold;
    font-size: 30px;
}

.button_save_clear {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* -------------------------------------------- EDIT_PROFILE_PUBLIC --------------------------------------------*/


.logo_header_profile,
.page_title_profile {
  display: inline-block;
  vertical-align: middle;
}

.page_title_profile {
  color: #737373;
  font-family: Bold;
  font-size: 45px;
  float: right;
  margin-right: 60px;
}

.navigator_edit_profile  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.navigator_edit_profile_2{
    background-color: #B9C8EA;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr;
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    column-gap:20px;
}

.photo_container_profile{
    background-color: #D0DBF7;
    border-radius: 15px;
}

.upload_button_edit{
    color: #B9C8EA;
    font-family: Bold;
    background-color: #4294FF;
    border-radius: 15px;
    padding:5px 10px 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

.remove_button_edit {
    color: #B9C8EA;
    font-family: Bold;
    background-color: #FF4242;
    border-radius: 15px;
    padding:5px 10px 5px 10px;
    font-size: 16px;
    border: none;
}

.photo_buttons_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.button_container_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}


.photo_container_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}


.form_row_edit{
    color: #737373;
    font-family: Bold;
    font-size: 20px;
    padding-bottom:20px;
}

#name_profile, #username_profile, #email_profile{
    border: none;
    width: 330px;
    height: 35px;
    border-radius: 40px;
    background-color: #D0DBF7;
    padding: 0px 10px;
    
}

#name_profile::placeholder, #username_profile::placeholder, #email_profile::placeholder{
    font-family: Bold;
    font-size: 15px;
    color: #376CFB;
    opacity: 0.5;
}

.form_content_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#file_name {
    display: none;
  }

  #file_name_uploaded{
    color: #225EFF;
    font-size: 15px;
  }
/* -------------------------------------------- SET_REVIEW --------------------------------------------*/

.navigator_set_review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 75%;
    justify-content: center;
}

.grid_set_review_1{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    row-gap: 20px;
    width: 600px;
    color: #737373;
    font-family: SemiBold;
}

#jumlah_minimal{
    background-color: #4294FF;
    border:none;
    height: 25px;
    border-radius: 20px;
    color: white;
    padding: 0px 10px;
    font-family: Bold;
}

#arti_setiap_nilai{
    background-color: #4294FF;
    border:none;
    height: 25px;
    border-radius: 20px;
    padding: 0px 10px;
    font-family: Bold;
    color: white;
}

.grid_set_review_2{
    display:grid;
    grid-template-columns: 1.1fr 0.1fr 1.1fr;
    width: 600px;
    color: #4294FF;
    font-family: SemiBold;
    margin-bottom: 30px;
    margin-top:20px;
}

.grid_set_review_2_1{
    grid-column: 1;
    display: grid;
    grid-template-columns: 0.2fr 1.2fr;
    row-gap: 10px;
}

.grid_set_review_2_2{
    grid-column: 3;
    display: grid;
    grid-template-columns: 0.2fr 1.2fr;
    row-gap: 10px;
}

.rentang_nilai{
    color: #4294FF;
}

#label_1-5{
    margin-right:50px;
}
