/* ----------------------------------------------- <TITLE> -----------------------------------------------*/


/* ----------------------------------------------- FONT ------------------------------------------------------*/
@font-face { font-family: Black; src: url("font/Inter-Black.ttf"); } 
@font-face { font-family: Bold; src: url("font/Inter-Bold.ttf"); } 
@font-face { font-family: ExtraBold; src: url("font/Inter-ExtraBold.ttf"); } 
@font-face { font-family: ExtraLight; src: url("font/Inter-ExtraLight.ttf"); } 
@font-face { font-family: Light; src: url("font/Inter-Light.ttf"); } 
@font-face { font-family: Medium; src: url("font/Inter-Medium.ttf"); } 
@font-face { font-family: Regular; src: url("font/Inter-Regular.ttf"); } 
@font-face { font-family: SemiBold; src: url("font/Inter-SemiBold.ttf"); } 
@font-face { font-family: Thin; src: url("font/Inter-Thin.ttf"); } 



/* ----------------------------------------------- ALL PAGE -----------------------------------------------*/
html, body{
    background-color: #d4e9f8;
    width: 100%;
    height: 100%;
    margin:0;
	padding:0;
    font-family: Regular;
}

.blue_button{
    background-color: #376CFB;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.blue_button:hover{
    background-color: #225EFF;
    color: white;
}

.gray_button{
    background-color: #737373;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 7px 30px;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.gray_button:hover{
    background-color: #4294FF;
    color: white;
}

::placeholder{
    opacity:0.5;
    color: #FFFFFF;
}

/* -------------------------------------------- PUBLIC HEADER --------------------------------------------*/
.public_header{
    height: 100px;
    display: flex;
    align-items: center;
    font-family: Bold;
    color: #737373;
    gap: 10px;

}

.log_out{
    margin-left: auto;
}

.profile_header{
    margin-left: 10px;
}

.username_header{
    margin-right: 25px;
} 


/* -------------------------------------------- ADMIN HEADER --------------------------------------------*/
.admin_header{
    height: 100px;
    display: flex;
    align-items: center;
    font-family: Bold;
    color: #737373;
    gap: 10px;
}

.navigator_admin{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 25px;
}

.navigator_admin a{
    color:#376CFB;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.navigator_admin a:hover{
    color:#4294FF;
}

.admin_profile_header{
    margin-left: 10px;
}

.admin_username_header{
    margin-right: 25px;
} 

/* -------------------------------------------- ADMIN DASHBOARD --------------------------------------------*/
.dashboard_admin_content{
    font-size: 35px;
    color:#737373;
    font-family: Light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:70%;
    width: 100%;
}

/* -------------------------------------------- PUBLIC VERIFY EMAIL --------------------------------------------*/

.navigator_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.judul_verify_email {
    font-family: Bold;
    font-size: 20px;
    color:#737373;
}

.verify_email_desc{
    color:#737373;
    font-family: SemiBold;
    padding-bottom: 10px;
}

.email {
    color: #376CFB;
}

.resend{
    padding-top:15px;
}

.resend_code{
    color: #737373;
    font-family: SemiBold;
}

.change_email{
    color: #376CFB;
    font-family: SemiBold;
}

.confirm_button{
    padding-top: 20px;
}

.input_code{
    background-color: #B9C8EA;
    color: #737373;
    border: none;
    font-size: 25px;
    font-family: Bold;
    width: 200px;
    height: 30px;
    padding:8px;
    border-radius: 15px;
    text-align:center;
}

/* -------------------------------------------- PUBLIC VERIFY CONF --------------------------------------------*/

.navigator_confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.logo_verify{
    margin-bottom: 20px;
}

.navigator_confirmation .email{
    font-family: SemiBold;
    font-size: 24px;
}

.navigator_confirmation .success{
    color: #737373;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: SemiBold;
}

/* -------------------------------------------- PUBLIC LOG IN --------------------------------------------*/

.navigator_log_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}


.pembungkus_log_in{
    background-color: #4294FF;
    display: grid;
    gap:10px;
    padding:15px;
    border-radius: 15px;
}

.input_username_public{
    background-color: #376CFB;
    grid-row: 1;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding:8px;
    border-radius: 15px;
}

.input_pass_public{
    background-color: #376CFB;
    grid-row: 2;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding:8px;
    border-radius: 15px;
}

.user::placeholder, .pw::placeholder {
    font-family: Semibold;
}

.pembungkus_log_in .blue_button{
    grid-row: 3;
    justify-self: center;
}

.create_account {
    color: #737373;
    font-family: SemiBold;

}

/* -------------------------------------------- PUBLIC SIGN UP --------------------------------------------*/

.sign_up_public{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid_kiri{
    display: grid;
    align-self: start;
}

.grid_kiri .logo{
    padding-bottom: 50px;
    padding-top: 40px;
    grid-row: 1;
}

.personal_data{
    grid-row: 2;
    font-family: Bold;
    font-size: 25px;
    color:#737373;
    padding-bottom: 25px;
}

.full_name_label{
    grid-row: 3;
    font-family: Regular;
    color:#737373;
    padding-bottom: 10px;
}

.input_full_name{
    background-color: #4294FF;
    grid-row: 4;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 20px;
    padding:10px;
    border-radius: 15px;
}

.email_label{
    grid-row: 5;
    font-family: Regular;
    color:#737373;
    padding-bottom: 10px;
    padding-top: 10px;
}

.input_email{
    background-color: #4294FF;
    grid-row: 6;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 320px;
    height: 25px;
    padding:8px;
    border-radius: 15px;
}

.grid_kanan{
    display: grid;
    align-self: start;
}

.judul_create{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 70px;
    grid-row: 1;
    font-family: Bold;
    font-size: 45px;
    color:#737373;
}

.sign_up_box{
    display: grid;
    background-color: #B9C8EA;
    border-radius: 15px;
    padding:20px;
    width: 300px;
    justify-self: center;
    gap: 10px;
}

.username_label, .pass_label, .confirm_pass_label{
    color: #376CFB;
    font-family: SemiBold;
}

.input_username_signup, .input_pass_signup, .input_confirm_pass{
    background-color: #D0DBF4;
    color: #4294FF;
    border: none;
    font-size: 16px;
    width: 285px;
    height: 20px;
    padding:8px;
    border-radius: 15px;
}

.username_label{
    grid-row: 1;
}

.input_username_signup{
    grid-row: 2;
}

.pass_label{
    grid-row: 3;
}

.input_pass_signup{
    grid-row:4;
}

.confirm_pass_label{
    grid-row: 5;
}

.input_confirm_pass{
    grid-row: 6;
}

.input_username_signup::placeholder, .input_pass_signup::placeholder, .input_confirm_pass::placeholder{
    color:#4294FF;
}

.sign_up_button{
    padding-top: 10px;
    justify-self: center;
}

.login_link{
    justify-self: center;
    font-family: SemiBold;
    font-size: 15px;
    color:#737373   
}

