<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_ADMIN_HEADER</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class = "admin_header">
        <div class = "logo_header">
            <a href = "/dashboard_admin"><img src = "/logo_header.png" alt = "bagbook_logo" height=100px></a>
        </div>

        <div class = "navigator_admin">
            <a href="/set_review">Set Review</a>
            <a href="/import_data">Import Data</a>
            <a href="/see_report">See Report</a>
            <a href="/pick_add">Add Item</a>
            <a href="/dashboard_public">Main Website</a>
        </div>

        <div class = "admin_log_out"> 
            <a href = "/log_out" class = "gray_button">
                Log out
            </a>
        </div>


        
    </div>
</body>
</html>
