<form method="GET" action = "/">
    <div class  = "pagination">
        <% const pageCount = Math.ceil(user_review_count / 4) %>
    <% for(let i = 0; i< pageCount;i++) { %>
    <a href = "profile_public?start=<%= (i*4) %>" name="start" value="<%= (i*4) %>"><%=i+1%></a>
    <% } %>
    </div>
    


</form>
